#StandardPackage>p {
    position: absolute;
    padding-top: 10rem;
    left: 25%;
    font-size: 18px;
    text-align: left;
    right: 60%;
    color: whitesmoke;


}



#StandardPackage>p {
    position: absolute;
    left: 2000px;
    width: 20%;
    height: 100px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: .5s;
}

@-webkit-keyframes slide {
    100% {
        left: 25%;
    }
}

@keyframes slide {
    100% {
        left: 25%;
    }
}






#StandardPackage>h1 {
    position: absolute;
    padding-top: 8rem;
    left: 25%;
    font-size: 20px;
    text-align: left;
    right: 60%;
    color: #090909;
    text-decoration: underline;
    color: whitesmoke;

}

#StandardPackage>h1 {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#PremiumPackage>p {
    position: absolute;
    padding-top: 10rem;
    left: 25%;
    font-size: 18px;
    text-align: left;
    right: 60%;
    color: whitesmoke;




}

#PremiumPackage>p {
    position: absolute;
    left: 2000px;
    width: 20%;
    height: 100px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: .5s;
}

@-webkit-keyframes slide {
    100% {
        left: 25%;
    }
}

@keyframes slide {
    100% {
        left: 25%;
    }
}

#PremiumPackage>h1 {
    position: absolute;
    padding-top: 8rem;
    left: 25%;
    font-size: 20px;
    text-align: left;
    right: 60%;
    color: #090909;
    text-decoration: underline;
    color: whitesmoke;




}

#PremiumPackage>h1 {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#Interior>p {
    position: absolute;
    padding-top: 10rem;
    left: 25%;
    font-size: 18px;
    text-align: left;
    right: 60%;
    color: whitesmoke;



}

#Interior>p {
    position: absolute;
    left: -400px;
    width: 20%;
    height: 100px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: .5s;
}

@-webkit-keyframes slide {
    100% {
        left: 25%;
    }
}

@keyframes slide {
    100% {
        left: 25%;
    }
}

#Interior>h1 {
    position: absolute;
    padding-top: 8rem;
    left: 25%;
    font-size: 20px;
    text-align: left;
    right: 60%;
    color: #090909;
    text-decoration: underline;
    color: whitesmoke;

}

#Interior>h1 {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#Exterior>p {
    position: absolute;
    padding-top: 10rem;
    left: 25%;
    font-size: 18px;
    text-align: left;
    right: 60%;
    color: whitesmoke;



}

#Exterior>p {
    position: absolute;
    left: 2000px;
    width: 20%;
    height: 100px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: .5s;
}

@-webkit-keyframes slide {
    100% {
        left: 25%;
    }
}

@keyframes slide {
    100% {
        left: 25%;
    }
}

#Exterior>h1 {
    position: absolute;
    padding-top: 8rem;
    left: 25%;
    font-size: 20px;
    text-align: left;
    right: 60%;
    color: #090909;
    text-decoration: underline;
    color: whitesmoke;

}

#Exterior>h1 {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}