.one {
    list-style-type: armenian;
}

ul {
    line-height: 1.5em;
    margin: 5px 0 15px;
    padding: 0;
}

.list-container {
    background-color: rgb(255, 255, 255);
    background-attachment: scroll;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: scale-down;
    /* height: 100vh; */
    height: 100vh;



}

p {

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;






}