.listbar {
    background: #090909;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    position: relative;
    top: 0rem;
    z-index: 998;
    height: 225vh;


    /* height: 10%; */

}

/* .listbar,
p {
    padding-top: 15%;




} */

.listbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    background-color: #090909;
    position: relative;
}

.listbar-logo {
    color: #090909;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    word-wrap: normal;
    width: 75%;



}

.fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
    color: transparent;
}

.list-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 125px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: center;
    margin-right: 2rem;
    border-width: 1px;
    padding-bottom: 0rem;


}

.list-item {
    height: 35px;
}

.list-links {
    color: rgb(255, 255, 255);
    display: flexbox;
    align-items: center;
    text-decoration: none;
    padding: 2rem 1rem;
    height: 100%;
    content: inherit;





}

.list-links:hover {
    color: white;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #DC143C,
        0 0 82px #DC143C,
        0 0 92px #DC143C,
        0 0 102px #DC143C,
        0 0 151px #DC143C;



}

.fa-bars {
    color: #090909;
}

.list-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .ListbarItems {
        position: relative;
    }

    .list-menu {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .list-menu.active {
        background: #ffffff;
        position: fixed;
        left: 0;
        right: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        top: .5;
    }

    .list-links {
        text-align: center;
        padding: 0.5rem 5rem;
        width: 100%;
        display: table;
    }

    .list-links:hover {
        background-color: #fff;
        color: #090909;
        border-radius: 0;

    }

    .listbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #090909;
        font-size: 2rem;
    }

    .list-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #090909;
        padding: 14px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
        top: auto;

    }

    .list-links-mobile:hover {
        background: #fff;
        color: #090909;
        transition: 250ms;
    }

    /* .sub1 {
        color: rgb(95, 89, 89);
        justify-self: start;
        margin-left: 20px;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
        display: flex;
        align-items: center;
    } */

    /* #logo-header-combo {
        width: 465px;



    } */







}